*{
	box-sizing: border-box;
}

body{
	margin: 0px;
	padding: 0px;
	font-family: 'Montserrat', sans-serif;
}

.mainBack{
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background-image: url('../img/index.jpg');
	background-size: 1370px 100vh;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
}

.mainBlack{
	z-index: 1;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0,0,0,0.85);
}

#loginPannel{
	width: 100%;
	height: 50vh;
	//border: 1px solid white;
	z-index: 2;
	position: absolute;
	top: 25vh;
	color: white;
	font-size: 20px;
	opacity: 0.9;
}

.adminip{
	color: white;
	border: 0;
	border-bottom: 1px solid white;
}

.adminip input{
	color: white;
	border: 0;
	outline: none;
	background: transparent;
	margin-left: 10px;
	margin-bottom: 5px;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	padding-left: 10px;
}

.lbls{
	display: block;
	margin-left: 20px;
	margin-bottom: 10px;
	margin-top: 15px;
}

#loginTable{
	margin: 0 auto;
	margin-top: 9vh;
}

.submitb{
	display: block;
	margin: 0 auto;
	margin-top: 20px;
	background: transparent;
	border: 1px solid white;
	border-radius: 10px;
	color: white;
	width: 200px;
	height: 50px;
	cursor: pointer;
	font-size: 20px;
}

.submitb:hover{
	box-shadow: 2px 2px 5px rgba(255,255,255,0.5);
}

.title{
	position: absolute;
	z-index: 2;
	color: white;
	font-size: 50px;
	text-align: center;
	width: 100%;
	opacity: 0.9;
}

.titlestart{
	position: absolute;
	z-index: 2;
	color: white;
	font-size: 40px;
	text-align: center;
	width: 100%;
	opacity: 0.9;
}

.error{
	color: #00e5ff;
	display: block;
	width: 100%;
	text-align: center;
	margin-bottom: -24px;
}

span.errors{
	color: white;
	display: block;
	margin: 0 auto;
	margin-top: 20px;
	background-color: rgba(244,67,54,0.8);
	border-radius: 5px;
	width: 250px;
	text-align: center;
	position: relative;
}

span.errors::after{
	content: "";
	border-width: 5px;
	border-style: solid;
	border-color: rgba(244,67,54,0.8) transparent transparent transparent;
	position: absolute;
	top: 18px;
	left: 120px;
}

span.errorst,span.errorstc{
	color: white;
	display: block;
	background-color: rgba(244,67,54,0.8);
	border-radius: 5px;
	width: 200px;
	text-align: center;
	margin-top: 10px;
	position: relative;
}

span.errorst::after,span.errorstc::after{
	content: "";
	border-width: 5px;
	border-style: solid;
	border-color: rgba(244,67,54,0.8) transparent transparent transparent;
	position: absolute;
	top: 19px;
	left: 95px;
}

.logged{
	color: #ffbe00;
	display: block;
	width: 100%;
	text-align: center;
	margin-bottom: -24px;
}

.userBack{
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background-image: url('../img/main.jpg');
	background-size: 1370px 100vh;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
}

.userBlack{
	z-index: 1;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0,0,0,0.85);
}

#userScoreTable{
	width: 287px;
	display: block;
	margin: 0 auto;
	color: white;
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: bold;
}

#userScoreTable td{
	color: white;
	font-size: 25px;
	opacity: 0.9;
	padding: 20px;
}

.matchTeam{
	position: absolute;
	z-index: 2;
	color: white;
	font-size: 20px;
	text-align: center;
	width: 100%;
	opacity: 0.9;
}

.matchTeam2{
	margin-top: 50px;
	z-index: 2;
	color: white;
	font-size: 20px;
	text-align: center;
	width: 100%;
	opacity: 0.9;
}

.matchTeam3{
	margin-top: 10px;
	z-index: 2;
	color: white;
	font-size: 20px;
	text-align: center;
	width: 100%;
	opacity: 0.9;
}


/*admin edit*/
@media(min-width: 967px)
{
#scoreEdit{
	width: 66%;
	max-height: 1000px;
	position: absolute;
	top: 17vh;
	left: 17%;
	border: 2px solid white;
	z-index: 2;
	box-shadow: 3px 3px 30px #fff;
	margin-bottom: 20px;
}

.myrow{
	width: 100%;
	display: flex;
}

.col-5{
	width: 41.667%;
}

.col-7{
	width: 58.333%;
}

#scoreAdminTable{
	color: white;
	font-size: 25px;
	opacity: 0.9;
}

#scoreAdminTable td{
	padding: 15px;
	padding-top: 17px;
	padding-bottom: 17px;
}

#update{
	cursor: pointer;
	width: 100px;
	height: 30px;
	text-align: center;
	padding-top: 5px;
	border: 1px solid white;
	color: white;
	margin-top: 10px;
	margin-left: 30px;
}

#scoreEditTable{
	display: block;
	width: 100%;
	color: white;
	font-size: 20px;
	opacity: 0.9;
	margin-top: 10px;
}

#scoreEditTable td{
	padding: 10px;
}

#correctDiv{
	display: block;
	margin: 0 auto;
	margin-top: 20px;
	background: transparent;
	border: 1px solid white;
	border-radius: 10px;
	text-align: center;
	padding-top: 10px;
	font-size: 20px;
	color: white;
	width: 200px;
	height: 50px;
	cursor: pointer;
}

#correctDiv:hover{
	box-shadow: 2px 2px 5px rgba(255,255,255,0.5);
}

.startContainer{
	width: 50%;
	max-height: 1000px;
	border: 2px solid white;
	position: absolute;
	z-index: 2;
	top: 20vh;
	left: 25%;
	box-shadow: 3px 3px 30px #fff;
	margin-bottom: 20px;
}

#startTable{
	width: 440px;
	display: block;
	margin: 0 auto;
	color: white;
	margin-top: 5vh;
	margin-bottom: 20px;
}

td.starttd{
	margin: 20px;
}

.teamc{
	width: 200px;
	outline: none;
	border: 2px solid white;
	background: transparent;
	color: white;
	font-size: 18px;
	box-shadow: 1px 1px 5px #fff;
}

.teamc option{
	background: transparent;
	color: black;
}

}

@media(max-width: 966px)
{
#scoreEdit{
	width: 96%;
	max-height: 1000px;
	position: absolute;
	top: 30vh;
	left: 2%;
	border: 2px solid white;
	z-index: 2;
	margin-bottom: 30px;
}

.myrow{
	width: 100%;
}

.col-5{
	width: 100%;
}

.col-7{
	width: 100%;
}

#scoreAdminTable{
	color: white;
	font-size: 25px;
	opacity: 0.9;
	display: block;
	margin: 0 auto;
	width: 310px;
}

#scoreAdminTable td{
	padding: 5px;
}

#update{
	cursor: pointer;
	width: 100px;
	height: 30px;
	text-align: center;
	padding-top: 5px;
	border: 1px solid white;
	color: white;
	margin-top: 10px;
	margin-left: 30px;
}

#scoreEditTable{
	display: block;
	width: 240px;
	color: white;
	font-size: 20px;
	opacity: 0.9;
	margin: 0 auto;
	margin-top: 10px;
}

#scoreEditTable td{
	padding: 10px;
}

#correctDiv{
	display: block;
	margin: 0 auto;
	margin-top: 20px;
	background: transparent;
	border: 1px solid white;
	border-radius: 10px;
	text-align: center;
	padding-top: 10px;
	font-size: 20px;
	color: white;
	width: 200px;
	height: 50px;
	cursor: pointer;
}

#startForm{
	position: fixed;
	z-index: 3;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #000;
}

.startContainer{
	width: 96%;
	max-height: 1000px;
	border: 2px solid white;
	position: absolute;
	z-index: 2;
	top: 30vh;
	left: 2%;
	box-shadow: 3px 3px 30px #fff;
	margin-bottom: 20px;
}

#startTable{
	width: 200px;
	display: block;
	margin: 0 auto;
	color: white;
	margin-top: 5vh;
	margin-bottom: 40px;
}

td.starttd{
	margin: 20px;
}

.teamc{
	width: 100px;
	outline: none;
	border: 2px solid white;
	background: transparent;
	color: white;
	font-size: 18px;
	box-shadow: 1px 1px 5px #fff;
}

.teamc option{
	background: transparent;
	color: black;
}

}

@media(min-width: 612px) and (max-width: 966px)
{
#scoreEdit{
	width: 96%;
	max-height: 1000px;
	position: absolute;
	top: 20vh;
	left: 2%;
	border: 2px solid white;
	z-index: 2;
	margin-bottom: 30px;
}
}


